body {
  font-size: 10px;
  background-color: rgba(220, 215, 250, 0.199);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 40px;
}

header > h2 {
  text-align: center;
  font-family: cursive;
  font-size: 18px;
}

.color-change-5x {
	-webkit-animation: color-change-5x 8s 2s infinite alternate forwards;
	        animation: color-change-5x 8s 2s infinite alternate forwards;
}

@-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }

.image-classname {
  width: 100px;
  border: 1px solid rgb(111, 0, 255);
  border-radius: 50%;
  background-color: #1302ff;
}

.imageBtn-classname {
  background-color: black;
  border-radius: 90%;
}

.cardDiv-classname {
  margin: 0 auto;
}

.h4First-classname, .h4Second-classname {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 0.1px solid black;
  background-color: rgb(255, 0, 64);
  color: white;
  border-radius: 50%;
}

.p-classname, .h3Element-classname, .h4First-classname, .h4Second-classname {
  text-align: center;
  font-size: 12px;
}

#pokemon-logo {
  width: 700px;
  margin: 0 auto;
  display: block;
  padding: 0;
}

#pokeball {
  margin-top: -120px;
  margin-left: 420px;
  width: 200px;
}

#mainContainer-id {
  display: flex;
}
